
//para los envios de email se usa mailtrap. al no contar con un dominio propio, no podemos enviar correos reales, solo se puede enviar a la cuenta que se uso para crear la api de mailtrap. 
//en la demo se mostrara el funcionamiento con el mail, pero para la prueba del profesor los mails se loguean en la consola.
MAIL_PROVIDER=mailtrap
MAILTRAP_API_KEY=tu_api_key_de_mailtrap
MAIL_FROM=mailtrap@demomailtrap.co
MAIL_FROM_NAME=Bidster
MAIL_TEST_TO=tu_email_de_prueba@example.com